@mixin timeLine {
    border-bottom: 1px solid black;
    padding-top: 1em;

    .subContent {
        display: flex;
        flex-direction: column;
        padding-top: 1em;
    }

    .year {
        padding: 0 0 2em 0;
        width: 12%;
    }
    .info {
        display: flex;
        padding: 0 0 1em 0;

    }
}